.Ballylike-heading-button{
	font-weight: 400;
	display: flex;
	justify-content: space-between;
    margin: 0;
    align-items: center;

	.heading-link{
	    font-size: 1rem;
	    text-transform: uppercase;
	}
}

@media (max-width: 767px) {
	.Ballylike-heading,
	.Ballylike-heading .heading-link{
		display: block;
	}

	.Ballylike-heading .heading-link{
		margin-top: 25px;
	}

	.Ballylike-heading-button {
		font-size: 24px;
	}
}